<h2 *ngIf="!question">Create Question</h2>
<h2 *ngIf="question">Edit Question</h2>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
        <label class="form-label">
            Text
            <input type="text" class="input form-control" formControlName="question">
        </label>
    </div>

    <div formArrayName="answers" class="mb-3">
        <app-answers-edit
            [control]="form.get('answers')"
            [answers]="question?.answers"
        ></app-answers-edit>
    </div>

    <button [disabled]="loading" type="submit" class="btn btn-primary">Submit</button>
</form>
