<h2>Questions</h2>

<div class="mb-2">
    <a class="btn btn-primary" routerLink="/create">Create New</a>
</div>

<div *ngIf="loading">Загрузка...</div>

<table [hidden]="loading" class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Question Text</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let question of questions">
        <td>{{question.id}}</td>
        <td>{{question.question}}</td>
        <td>
            <a [routerLink]="['/edit', question.id]" class="btn btn-light">
                <i class="far fa-edit"></i>
            </a>

            <!--cta button-->
            <button type="button" class="btn btn-danger" [disabled]="loading" (confirm)="remove(question.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
