.hide {
  display: none;
}

body {
  font-size: 24px;
  overflow: hidden;
}

.header,
.footer {
  background: antiquewhite;
  height: 200px;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

.page {
  background: aliceblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 300px;
  background: aqua;
}

.page__content {
  flex: 1 1 auto;
}

.main {
  display: flex;
  overflow: hidden;
}

.main__sidebar {
  flex-shrink: 0;
}

.main__content {
  flex: 1 1 auto;
  overflow-y: auto;
}

.form-control {
  display: block;
}
